#include <windows.h>

IDD_BOOT DIALOG 0, 0, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Boot Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,70,80,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,130,80,50,14
END